<div class="meta-cate-flex" style="display: flex; align-items: center; font-weight: 600;">
  <% if (post.categories && post.categories.length){ %>
  <%- list_categories(post.categories, {
    show_count: false,
    class: 'meta-cate',
    style: 'none',
    separator: '>'
  }) %>
  <% } else { %>
    <%= __('uncategorized') %> 
  <% } %> 
</div>
