<% if (post.tags && post.tags.length){ %>
  <div id="page-tag">
    <%  for (let index = 0;index < post.tags.length; index++) { %>
      <a href="<%- url_for("/tags/" + post.tags.data[index].name)%>"><%= post.tags.data[index].name %></a>
    <% } %>
  </div>
<% } %>