.trans-connect-in
  opacity: 0
  animation: .3s animation-t-in
  animation-fill-mode: forwards

.delay-title
  animation-delay: 0.15s
.delay-tag
  animation-delay: 0.1875s
.delay-text
  animation-delay: 0.255s

.trans-in
  animation: .25s animation-in
  animation-fill-mode: forwards

.trans-out
  animation: .25s animation-out
  animation-fill-mode: forwards

@keyframes animation-in
  0%
    transform: translateY(2rem)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

@keyframes animation-out
  0%
    transform: translateY(0)
    opacity: 1
  100%
    transform: translateY(2rem)
    opacity: 0

@keyframes animation-t-in
  0%
    transform: translateY(2rem)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1